openapi: 3.0.3
info:
  title: Versori Platform API
  version: 0.0.1
  license:
    name: UNLICENSED
servers:
  - description: Production
    url: https://platform.versori.com/api/v2
  - description: Staging
    url: https://platform-staging.versori.com/api/v2
  - description: Development
    url: http://localhost:8901
paths:
  /o/{organisation_id}/activations:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
    post:
      operationId: ActivateUser
      summary: Activates a User on an Environment.
      description: |
        ActivateUser activates a user on an environment. This will create a new activation record for the user on the environment.
        Connections must be made for all environment systems to be successfully activated.
      tags:
        - end_users
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Activation"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActivationCreate"

  /o/{organisation_id}/execution-pools:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
    get:
      operationId: ListExecutionPools
      summary: List available execution pools.
      tags:
        - execution_pools
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionPoolList"

  /o/{organisation_id}/projects:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
    get:
      operationId: ListProjects
      summary: List projects for organisation
      tags:
        - projects
      parameters:
        - name: starred
          in: query
          required: false
          description: If true, return only projects that have been starred.
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectsList"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: CreateProject
      summary: Create new project
      description: |
        CreateProject creates a new project.
      tags:
        - projects
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectCreate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
    get:
      operationId: GetProject
      summary: Get Project
      description: |
        GetProject returns the files and configuration for the specified project ID. If one does not exist then a 404 will be returned.
      tags:
        - projects
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: DeleteProject
      summary: Delete Project
      description: |
        DeleteProject delete the project.
      tags:
        - projects
      responses:
        "204":
          description: OK
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      operationId: UpdateProject
      summary: Update Project
      description: |
        UpdateProject updates the project record. This endpoint will not make changes to the file or the running deployment.
      tags:
        - projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectUpdate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/clone:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
    post:
      operationId: CloneProject
      summary: Clone Project
      description: |
        CloneProject clones the project with the given ID. The new project will have a new ID and will not be deployed.
        The files and configuration will be copied from the original project. Connection templates will be copied, however
        no connections will be created.
      tags:
        - projects
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/star:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
    put:
      operationId: StarProject
      summary: Star Project
      description: |
        StarProject marks the project as starred for the organisation. Starred projects are highlighted
        as containing useful reference patterns.
      tags:
        - projects
      responses:
        "204":
          description: OK
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: UnstarProject
      summary: Unstar Project
      description: |
        UnstarProject removes the starred marker from the project.
      tags:
        - projects
      responses:
        "204":
          description: OK
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/environments/clone:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
    post:
      operationId: CloneEnvironment
      summary: Clone Environment
      description: |
        CloneEnvironment creates a new environment by copying the details of an existing environment in the same project.
      tags:
        - projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CloneEnvironmentRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/environments/{environment_id}:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
      - $ref: "#/components/parameters/environment_id"
    post:
      operationId: DeleteEnvironment
      summary: Delete Environment
      description: |
        DeleteEnvironment will unpublish and remove an environment from the project.
      tags:
        - projects
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/environments/sync:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
    post:
      operationId: SyncEnvironments
      summary: Sync Environments
      description: |
        SyncEnvironments copies the deployment configuration (currently the deployed docker image/version) from one
        environment to another within the same project.
      tags:
        - projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncEnvironmentsRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/variables:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
    put:
      operationId: SetProjectVariablesSchema
      summary: Set the schema for the project variables
      description: |
        SetProjectVariablesSchema sets the JSON schema for the project's dynamic variables. Dynamic variables can then
        be set by end users on activation. This schema is used to validate the variables when they are set and defines
        the variables that can be set and used within the integration code.
      tags:
        - projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DynamicVariablesSchema"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DynamicVariablesSchema"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      operationId: GetProjectVariablesSchema
      summary: Get project variables
      description: |
        GetProjectVariablesSchema returns the variables schema for the project.
      tags:
        - projects
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DynamicVariablesSchema"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      operationId: PatchProjectVariablesSchema
      summary: Patch the schema for the project's dynamic variables
      description: |
        PatchProjectVariablesSchema patches the JSON schema for the project's dynamic variables. This allows you to add,
        remove or edit the schema for the project's dynamic variables.
      tags:
        - projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DynamicVariablesSchemaPatch"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DynamicVariablesSchema"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/sdk-major-version:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
    post:
      operationId: ChangeProjectSDKMajorVersion
      summary: Changes the SDK major version that is used for the project
      description: |
        Changes the major version of the versori run SDK that is used for the project.
        The SDK version can either be 0 or 1 corresponding to the major version of the.
        Hence 0 -> v0.x.x and 1 -> v1.x.x.
      tags:
        - projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SDKMajorVersionRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


  /o/{organisation_id}/projects/{project_id}/versions:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
    get:
      operationId: ListProjectVersions
      summary: Lists versions for a project
      description: |
        List all versions of a project.
      tags:
        - versions
      parameters:
        - $ref: "#/components/parameters/first"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionPage'
    post:
      operationId: CreateProjectVersion
      summary: Create a new version for a project.
      description: |
        Create a new version for a project.
      tags:
        - versions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectVersion'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectVersion'

  /o/{organisation_id}/projects/{project_id}/versions/{version_id}/files:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
      - $ref: "#/components/parameters/version_id"
    get:
      operationId: GetVersionFiles
      summary: Get Files for a given version
      description: |
        Retrieves the files for the given version ID and project ID.
      tags:
        - versions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Files'

  /o/{organisation_id}/projects/{project_id}/files:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
    get:
      operationId: GetFiles
      summary: Get Files
      description: |
        GetFiles returns the current files for the project. Those may not be the files that the project is deployed with.
      tags:
        - projects
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Files"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      operationId: UpdateFiles
      summary: Update Files
      description: |
        UpdateFiles updates the files for the project. This will not deploy the project.
      tags:
        - projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Files"
      responses:
        "204":
          description: OK
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      operationId: PatchFiles
      summary: Patch Files
      description: |
        PatchFiles updates only the files that are specified in the payload.
      tags:
        - projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Files"
      responses:
        "204":
          description: OK
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/repo/sync:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
    post:
      operationId: SyncProjectRepo
      summary: Sync Project Files To Repository
      description: |
        Sync project files to the configured Git repository. This can create or update files on a source branch
        and optionally create a merge request to a target branch.
      tags:
        - projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RepoSyncRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RepoSyncResult"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/repo/pull:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
    post:
      operationId: PullProjectRepo
      summary: Pull Project Files From Repository
      description: |
        Pull the project files tarball from the configured Git repository branch and replace the current project files.
      tags:
        - projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RepoPullRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RepoPullResult"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/repo/files:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
    get:
      operationId: ListProjectRepoFiles
      summary: List Repository Files
      description: |
        List files from the configured repository for the project.
      tags:
        - projects
      parameters:
        - in: query
          name: ref
          schema:
            type: string
          required: false
          description: Git branch or ref to list files from.
        - in: query
          name: path
          schema:
            type: string
          required: false
          description: Optional directory path filter.
        - in: query
          name: recursive
          schema:
            type: boolean
            default: true
          required: false
          description: Whether to list files recursively.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RepoFileListResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/repo/merge-requests:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
    post:
      operationId: CreateProjectRepoMergeRequest
      summary: Create Project Repository Merge Request
      description: |
        Create a merge request for a project repository branch.
      tags:
        - projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RepoMergeRequestCreateRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RepoMergeRequestResult"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/environments/execution-pools:
    parameters:
      - $ref: "#/components/parameters/project_id"
      - $ref: "#/components/parameters/project_env"
      - $ref: "#/components/parameters/organisation_id"
    put:
      operationId: ChangeEnvironmentExecutionPool
      summary: Change the execution pool of an environment
      description: |
        Updates the execution pool used to deploy this environment. If the environment is running it will be suspended first.
        This will result in a new public URL being created for the environment.
      tags:
        - projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeEnvironmentExecutionPoolRequest"
      responses:
        "200":
          description: Variables updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectEnvironment"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/environments/call:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
      - $ref: "#/components/parameters/project_env"
    post:
      operationId: CallIntegration
      summary: Call Integration
      description: |
        CallIntegration sends an HTTP request to a project's deployed environment and returns the response.
        This allows triggering a project remotely via an HTTP call.
      tags:
        - projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IntegrationCallHTTPRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationCallHTTPResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/deploy:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
      - $ref: "#/components/parameters/project_env"
    put:
      operationId: DeployProject
      summary: Deploy Project
      description: |
        DeployProject deploys the project to the specified environment using the current files.
        It processes the files to deploy a new version of the project and updates the underlying connector
        to integrate the new API.
      tags:
        - projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectDeployPayload"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/versions/{version_id}/deploy:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
      - $ref: "#/components/parameters/project_env"
      - $ref: "#/components/parameters/version_id"
    put:
      operationId: DeployProjectVersion
      summary: Deploy Project Version
      description: |
        DeployProjectVersion deploys the project to the specified environment using the specified version.
        If the docker image is not build for the version it will build one.
      tags:
        - projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectVersionDeploy"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/testing/start:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
    post:
      operationId: StartTestContainer
      summary: Start Test Container
      description: |
        StartTestContainer starts a test container for the project. The test container is a temporary
        environment that can be used to test the project.
        This endpoint will available triggers for the project.
      tags:
        - projects
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectTriggers"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/testing/agent/start:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
    post:
      operationId: StartTestAgent
      summary: Start Agentic Code Review
      description: |
        StartTestAgent triggers Claude Code to review and fix the files currently
        loaded in the running test container. The test container must already be
        running; this endpoint will not cold-start it.

        The supervisor streams Claude's output and a final claude_done event over
        the project websocket. By the time claude_done is broadcast, any fixed files
        have already been persisted to one-api.
      tags:
        - projects
      responses:
        "202":
          description: Accepted - agent run has been triggered
        "409":
          description: Conflict - an agent run is already in progress for this project
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "412":
          description: Precondition Failed - test container is not running or has no files loaded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/testing/agent/stop:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
    post:
      operationId: StopTestAgent
      summary: Stop Agentic Code Review
      description: |
        StopTestAgent cancels any in-flight Claude Code review on the running
        test container. Idempotent: if no agent run is in progress (because
        none was started, or it already finished), this still succeeds with
        204 No Content. Idempotent specifically so the UI can fire-and-forget
        on panel close / unmount without having to track session state.

        On success, the supervisor cancels the active phase, kills the Claude
        subprocess, and broadcasts a final claude_done event with status
        "cancelled" over the project websocket.
      tags:
        - projects
      responses:
        "204":
          description: No Content - any in-flight agent run has been cancelled
        "412":
          description: Precondition Failed - test container is not running
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/testing/trigger/{trigger_name}:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
      - name: trigger_name
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: TriggerWorkflow
      summary: Start test workflow
      description: |
        TriggerWorkflow tells the test runner to trigger a test workflow.
      tags:
        - projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TriggerPayload"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/validate:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
    put:
      operationId: ValidateFiles
      summary: Validate Project Files
      description: |
        ValidateFiles validates the project files using deno check without deploying.
        It processes the files to build a Docker image and runs validation checks
        to ensure the TypeScript code is valid before deployment.
      tags:
        - projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Files"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationResult"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/logs:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
      - $ref: "#/components/parameters/project_env"
    get:
      operationId: GetProjectLogs
      summary: Get Project Logs
      parameters:
        - $ref: "#/components/parameters/first"
        - name: next_token
          in: query
          required: false
          schema:
            type: string
        - name: start
          in: query
          required: false
          schema:
            type: string
        - name: end
          in: query
          required: false
          schema:
            type: string
        - name: search
          in: query
          required: false
          schema:
            type: string
        - name: build
          in: query
          required: false
          schema:
            type: boolean
        - name: latest
          in: query
          required: false
          schema:
            type: boolean
            description: If true, returns only the latest logs
        - name: order
          in: query
          required: false
          schema:
            type: string
            description: One of 'asc' or 'desc'
      tags:
        - projects
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Logs"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    post:
      operationId: SearchProjectLogs
      summary: Search project logs
      tags:
        - projects
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogSearch'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Logs"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"


  /o/{organisation_id}/projects/{project_id}/traces:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
      - $ref: "#/components/parameters/project_env"
    get:
      operationId: ListTraces
      summary: List project traces
      description: |
        ListTraces returns a list of traces for the given organisation.
      tags:
        - projects
      parameters:
        - name: next_token
          in: query
          required: false
          schema:
            type: string
        - name: start
          in: query
          required: false
          schema:
            type: string
        - name: end
          in: query
          required: false
          schema:
            type: string
        - name: filter
          in: query
          required: false
          schema:
            type: string
            description: |
              Filter executions by attribute.
              
              Example query: 'http.request.method:POST executionId:01JSPK1SB6S622T6E1P9BBJTWP'
              
              Available attributes are:
              - "taskId"
              - "taskType"
              - "executionId"
              - "error.message"
              - "error.stack"
              - "schedule"
              - "connection"
              - "http.request.method"
              - "http.response.status_code"
              - "server.address"
              - "server.port"
              - "url.full"
              - "url.path"
              - "url.query"
              - "url.scheme"
        - name: error
          in: query
          required: false
          schema:
            type: boolean
        - name: task
          in: query
          required: false
          schema:
            type: string

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TraceSearch"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/traces/{trace_id}:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
      - name: trace_id
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: GetTrace
      summary: Get Trace
      description: |
        GetTrace returns an individual trace with all the spans.
      tags:
        - projects

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Trace"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/workflows:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
    get:
      operationId: GetIntegrationFlows
      summary: Get integration flows
      description: |
        GetIntegrationFlows returns the OpenTelemetry spans for a project,
        representing execution traces and telemetry data.
      tags:
        - projects
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationFlows"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/workflows/{flow_name}:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
      - $ref: "#/components/parameters/flow_name"
    get:
      operationId: GetIntegrationFlow
      summary: Get integration flow by name
      description: |
        GetIntegrationFlow returns a single integration flow by its name.
      tags:
        - projects
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationFlow"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      operationId: UpdateIntegrationFlow
      summary: Update integration flow
      description: |
        UpdateIntegrationFlow updates or creates a new flow with the given name.
        This endpoint will overwrite the entire flow with the provided data.
      tags:
        - projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IntegrationFlow"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationFlow"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: DeleteFlow
      summary: Delete integration flow
      tags:
        - projects
      responses:
        "204":
          description: No Content - Successfully deleted
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/suspend:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
      - name: environment
        in: query
        required: true
        schema:
          type: string
          description: The environment to suspend the project in.
    post:
      operationId: SuspendProject
      summary: Suspend Project
      description: Suspend project will stop the project but not delete it. It can be deployed later again.
      tags:
        - projects
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/connections:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
    get:
      operationId: ListConnections
      summary: List Connections
      description: |
        ListConnections returns a list of Connections.
      tags:
        - connections
      parameters:
        - $ref: "#/components/parameters/first"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
        - name: system_id
          in: query
          required: false
          schema:
            type: string
        - name: end_user_id
          in: query
          required: false
          schema:
            type: string

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionPage"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: CreateConnection
      summary: Create a new connection.
      description: |
        CreateConnection creates a new connection for the given organisation.
      tags:
        - connections
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnvSystemConnectionCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connection"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/connections/{connection_id}:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/connection_id"
    get:
      operationId: GetConnection
      summary: Get a Connection by ID
      description: |
        GetConnection returns the Connection for the given connection ID.
      tags:
        - connections
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connection"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      operationId: UpdateConnection
      summary: Update a Connection by ID
      description: |
        UpdateConnection updates the Connection for the given connection ID.
      tags:
        - connections
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConnectionUpdate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connection"

        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: DeleteConnection
      summary: Delete a Connection by ID
      description: |
        Delete a Connection by ID. This action will fail if the connections is one that is dynamic and is currently
        in use by an end user. This action will NOT fail if the connection is a static connection that is in use.
      tags:
        - connections
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/connections/{connection_id}/link:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/connection_id"
    post:
      operationId: LinkConnectionToEnvironment
      summary: Link an existing connection to an environment
      description: |
        LinkConnectionToEnvironment links an existing connection to a specified environment.
      tags:
        - connections
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LinkConnectionEnvironment"
      responses:
        "201":
          description: Created
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: UnlinkConnectionFromEnvironment
      summary: Unlink a connection from an environment
      description: |
        UnlinkConnectionFromEnvironment removes the link between a connection and an environment for the given connectionTemplateId.
      tags:
        - connections
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LinkConnectionEnvironment"
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/users:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
    post:
      operationId: CreateEndUser
      summary: Create an End User
      description: |
        CreateEndUser creates a new End User for the given organisation.

        The end user requires a unique `externalId`. This is an immutable field so should not be set to something that may change
        such as an email address.
      tags:
        - end_users
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EndUserCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EndUser"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    get:
      operationId: ListEndUsers
      summary: List End Users
      description: |
        ListEndUsers returns a list of all the End Users for the given organisation.
      tags:
        - end_users
      parameters:
        - name: search
          in: query
          description: |
            Filter string matched against End User id, externalId, and displayName fields.
          schema:
            type: string
        - name: activated
          in: query
          description: |
            Filter users by their activation status. Must be used together with environment_id.
            If not provided, returns all users regardless of activation status.
          schema:
            type: boolean
        - name: environment_id
          in: query
          description: |
            Filter users by activations in a specific environment. Must be used together with the 'activated' parameter.
            When combined with 'activated=true', it returns users that are activated in the specified environment.
            When combined with 'activated=false', it returns users that are not activated in this specific environment.
            If not provided, returns users from all environments.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EndUserPage"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/automations:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
    get:
      operationId: ListAutomations
      summary: List Automations
      description: |
        ListAutomations returns a list of all the Automations for the given organisation.
      tags:
        - automations
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Automation"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: CreateAutomation
      summary: Create a new automation.
      tags:
        - automations
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutomationCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Automation"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/automations/{automation_id}/run:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/automation_id"
    post:
      operationId: RunAutomation
      summary: Run an Automation
      tags:
        - automations
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutomationRunCreate"
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutomationRunResponse"
    get:
      operationId: ListAutomationRuns
      summary: List Automation Runs
      description: |
        ListAutomationRuns returns a list of all the Automation Runs for the given automation ID.
      tags:
        - automations
      parameters:
        - $ref: "#/components/parameters/organisation_id"
        - $ref: "#/components/parameters/automation_id"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AutomationRun"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/automations/{automation_id}:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/automation_id"
    get:
      operationId: GetAutomation
      summary: Get an Automation by ID
      description: |
        GetAutomation returns the Automation for the given automation ID.
      tags:
        - automations
      parameters:
        - $ref: "#/components/parameters/automation_id"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Automation"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      operationId: UpdateAutomation
      summary: Update an Automation
      description: |
        UpdateAutomation updates the name or prompt template of an existing automation.
      tags:
        - automations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutomationUpdate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Automation"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/automations/{automation_id}/recordings:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/automation_id"
    get:
      operationId: ListRecordings
      summary: List Recordings
      description: |
        ListRecordings returns a list of all the Recordings for the given automation ID.
      tags:
        - automations
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AutomationRecording"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: CreateRecording
      summary: Create a recording for an automation
      description: |
        CreateRecording creates a recording for an automation.
        The recording file is uploaded to the GCP bucket and the transcription is requested.
      tags:
        - automations
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRecordingRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateRecordingResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/automations/{automation_id}/runs/{run_id}:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/automation_id"
      - $ref: "#/components/parameters/run_id"
    get:
      operationId: GetAutomationRun
      summary: Get an Automation Run by ID
      description: |
        GetAutomationRun returns the Automation Run for the given run ID.
      tags:
        - automations
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutomationRun"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/automations/{automation_id}/recordings/{recording_id}:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/automation_id"
      - $ref: "#/components/parameters/recording_id"
    post:
      operationId: CreateTranscription
      summary: Create a transcription for a recording
      description: |
        CreateTranscription creates a transcription for a recording.
      tags:
        - automations
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TranscriptionCreate"
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutomationRecording"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      operationId: GetRecording
      summary: Get a recording by ID
      description: |
        GetRecording returns the recording for the given recording ID.
      tags:
        - automations
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutomationRecording"

  /o/{organisation_id}/environments/{environment_id}/schedulers:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/environment_id"
    get:
      operationId: ListSchedulers
      summary: List Schedulers
      description: |
        ListSchedulers returns a list of all the Schedulers for the given environment.
      tags:
        - schedulers
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Scheduler"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/environments/{environment_id}/schedulers/{scheduler_id}:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/environment_id"
      - $ref: "#/components/parameters/scheduler_id"
    get:
      operationId: GetScheduler
      summary: Get a Scheduler by ID
      description: |
        GetScheduler returns the Scheduler for the given scheduler ID.
      tags:
        - schedulers
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Scheduler"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: TriggerScheduler
      summary: Trigger a Scheduler once
      description: |
        TriggerScheduler triggers the Scheduler for the given scheduler ID once.
        This is useful for testing or running a one-off task without waiting for the next scheduled run.
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/environments/{environment_id}/activations:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/environment_id"
      - $ref: "#/components/parameters/static"
    get:
      operationId: ListActivations
      summary: List Activations
      description: |
        ListActivations returns a list of all the Activations for the given environment.
      tags:
        - activations
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivationsList"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/environments/{environment_id}/activations/{activation_id}:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/environment_id"
      - $ref: "#/components/parameters/activation_id"
    get:
      operationId: GetActivation
      summary: Retrieve an Activation by ID
      description: |
        GetActivation returns the Activation for the given activation ID.
      tags:
        - activations
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Activation"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: DeleteActivation
      summary: Delete an Activation
      description: |
        DeleteActivation deletes the Activation for the given activation ID.
      tags:
        - activations
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/environments/{environment_id}/variables:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/environment_id"
    patch:
      operationId: SetStaticUserVariables
      summary: Set static variables for the static activation
      description: |
        Updates one or more static variables for the static user's activation for this environment.
        The request body will be validated against the variable schema.
      tags:
        - activations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DynamicVariables"
      responses:
        "200":
          description: Variables updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DynamicVariables"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/environments/{environment_id}/config:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/environment_id"
    put:
      operationId: UpdateEnvironmentConfig
      summary: Updates the environment config for infrastructure.
      tags:
        - projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnvironmentConfig"
      responses:
        "204":
          description: ok
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/environments/{environment_id}/activations/{activation_id}/variables:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/environment_id"
      - $ref: "#/components/parameters/activation_id"
    patch:
      operationId: SetDynamicVariables
      summary: Set dynamic variables for an activation
      description: |
        Updates one or more dynamic variables for the specified activation. The request body will
        be validated against the variable schema.
      tags:
        - activations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DynamicVariables"
      responses:
        "200":
          description: Variables updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DynamicVariables"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/environments/{environment_id}/activations/{activation_id}/variables/{variable_name}:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/environment_id"
      - $ref: "#/components/parameters/activation_id"
      - name: variable_name
        in: path
        required: true
        schema:
          type: string
        description: The name of the dynamic variable to update
    put:
      operationId: SetDynamicVariable
      summary: Set a dynamic variable by name
      description: |
        Updates a single dynamic variable identified by name for the specified activation.
        This endpoint is designed to support the SDK's ability to update individual variables
        with a friendly, descriptive API for error handling.
      tags:
        - activations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  description: The new value for the variable (can be any JSON type)
                  type: [ "object", "array", "string", "number", "boolean" ]
                  x-go-type: any
              required:
                - value
      responses:
        "200":
          description: Variable updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DynamicVariables"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/environment/{environment_id}/users/{external_user_id}/activations:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/environment_id"
      - name: external_user_id
        in: path
        required: true
        schema:
          type: string
        description: The external ID of the user
    get:
      operationId: ListUserActivations
      summary: List Activations for User
      description: |
        ListUserActivations returns an array of all activations for a specific user in a given environment.
      tags:
        - activations
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Activation"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/users/{user_id}:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the user
    get:
      operationId: GetEndUser
      summary: Retrieve an End User
      description: |
        GetEndUser returns the End User for the given user ID.
      tags:
        - end_users
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EndUser"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: DeleteEndUser
      summary: Delete an End User
      description: |
        DeleteEndUser deletes the End User for the given user ID.
      tags:
        - end_users
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/environment-systems/{env_system_id}/activations/{activation_id}:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/env_system_id"
      - name: activation_id
        in: path
        required: true
        schema:
          type: string
          format: ulid
          x-go-type: ulid.ULID
          x-go-name: EnvSystemID
          x-go-type-import:
            path: github.com/versori/cli/pkg/ulid
    get:
      operationId: GetActivationConnection
      summary: Retrieve the connection for the activations.
      tags:
        - connections
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connection"

  /o/{organisation_id}/systems:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
    post:
      operationId: CreateSystem
      summary: Create a new system.
      tags:
        - systems
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SystemCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/System"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    get:
      operationId: ListSystems
      summary: Lists the systems for the organisation.
      tags:
        - systems
      parameters:
        - $ref: "#/components/parameters/first"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
        - $ref: "#/components/parameters/search"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemPage"

  /o/{organisation_id}/systems/{system_id}:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - name: system_id
        in: path
        required: true
        schema:
          type: string
          format: ulid
          x-go-type: ulid.ULID
          x-go-name: SystemID
          x-go-type-import:
            path: github.com/versori/cli/pkg/ulid
    get:
      operationId: GetSystem
      summary: Get a system by ID.
      tags:
        - systems
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/System"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      operationId: UpdateSystem
      summary: Update system.
      tags:
        - systems
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSystem"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/System"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: DeleteSystem
      summary: Delete a system by ID.
      description: |
        DeleteSystem deletes the system for the given system ID. This endpoint will not allow you to delete a system which
        is in use by a project. You can check if a system is in use by a project, by listing the project connection templates.
      tags:
        - systems
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/systems/{system_id}/projects/{project_id}/actions-link:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
      - $ref: "#/components/parameters/system_id"
    post:
      operationId: LinkSystemActions
      summary: Link system actions to project.
      tags:
        - systems
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                format: ulid
                x-go-type: ulid.ULID
                x-go-type-import:
                  path: github.com/versori/cli/pkg/ulid
      responses:
        "201":
          description: Created
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/systems/{system_id}/projects/{project_id}/triggers-link:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
      - $ref: "#/components/parameters/system_id"
    post:
      operationId: LinkSystemTriggers
      summary: Link system triggers to project.
      tags:
        - systems
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                format: ulid
                x-go-type: ulid.ULID
                x-go-type-import:
                  path: github.com/versori/cli/pkg/ulid
      responses:
        "201":
          description: Created
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/systems/{system_id}/actions:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/system_id"
    get:
      parameters:
        - $ref: "#/components/parameters/project_id_query"
      operationId: ListSystemActions
      summary: List actions for a system.
      description: |
        ListSystemActions returns a list of all the actions for the given system.
        If the `project_id` query parameter is provided, this endpoint will only return actions that are being used
        in that project.
      tags:
        - systems
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionPage"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: CreateSystemActions
      summary: Create new actions for a system.
      description: |
        Create new actions for a system. If the project ID parameter is provided in the request body, these actions
        will also be linked with that project.
      tags:
        - systems
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateActions"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Action"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /o/{organisation_id}/systems/{system_id}/actions/{action_id}:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/system_id"
      - $ref: "#/components/parameters/action_id"
    get:
      operationId: GetSystemAction
      summary: Get an action for a system.
      description: |
        GetSystemAction returns a single action for the given system.
      tags:
        - systems
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Action"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      operationId: UpdateSystemAction
      summary: Update an action for a system.
      description: |
        UpdateSystemAction updates a single action for the given system.
      tags:
        - systems
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Action"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Action"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: DeleteSystemAction
      summary: Delete an action for a system.
      description: |
        DeleteSystemAction deletes a single action for the given system.
      tags:
        - systems
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/systems/{system_id}/triggers:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/system_id"
    get:
      parameters:
        - $ref: "#/components/parameters/project_id_query"
      operationId: ListSystemTriggers
      summary: List triggers for a system.
      description: |
        ListSystemTriggers returns a list of all the triggers for the given system.
        If the `project_id` query parameter is provided, this endpoint will only return triggers that are being used
        in that project.
      tags:
        - systems
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TriggerPage"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: CreateSystemTriggers
      summary: Create new triggers for a system.
      description: |
        Create new triggers for a system. If the project ID parameter is provided in the request body, these triggers
        will also be linked with that project.
      tags:
        - systems
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTriggers"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Trigger"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/systems/{system_id}/auth-scheme-configs/{auth_scheme_config_id}:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/system_id"
      - name: auth_scheme_config_id
        in: path
        required: true
        schema:
          type: string

    delete:
      operationId: DeleteAuthSchemeConfig
      summary: Deletes an auth scheme for the system.
      tags:
        - systems
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    put:
      operationId: UpsertAuthSchemeConfig
      summary: Adds or updates an auth scheme for the system.
      description: |
        UpsertAuthSchemeConfig adds or updates an auth scheme for the system.
        If the auth scheme ID provided doesn't match any of the record, it will be created.
        If the auth scheme ID provided matches an existing record, it will be updated.
        The ID in the path needs to match the ID in the body.
      tags:
        - systems
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthSchemeConfig"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSchemeConfig"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/connections:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
    get:
      operationId: ListEnvironmentConnections
      summary: List static connections for project environment
      description: |
        Lists all static connections (connections without end users) for a given environment.
      tags:
        - connections
      parameters:
        - $ref: "#/components/parameters/env_id"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionPage"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/{project_id}/connection-templates:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
    post:
      operationId: CreateConnectionTemplate
      summary: Create a new connection template
      tags:
        - systems
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LinkSystem"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionTemplate"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    get:
      operationId: ListProjectConnectionTemplates
      summary: List project environment connection templates
      tags:
        - systems
      parameters:
        - $ref: "#/components/parameters/env_id"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentSystemPage"

  /o/{organisation_id}/projects/{project_id}/connection-templates/{template_id}:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/project_id"
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: ulid
          x-go-type: ulid.ULID
          x-go-name: EnvironmentSystemID
          x-go-type-import:
            path: github.com/versori/cli/pkg/ulid

    delete:
      operationId: DeleteConnectionTemplate
      summary: Remove a connection template
      tags:
        - systems
      responses:
        "204":
          description: OK
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    put:
      operationId: UpdateConnectionTemplate
      summary: Remove a system from a project environment
      tags:
        - systems
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateConnectionTemplate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionTemplate"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/systems/{system_id}/oauth2/initialise:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/system_id"
    post:
      operationId: InitialiseOAuth2Connection
      summary: Initialise OAuth 2.0 Connection
      description: |
        InitialiseOAuth2Connection returns a URL to redirect the user to an OAuth 2.0 Provider's Authorize endpoint.

        Only URLs constructed via this API can be used to connect to an OAuth 2.0 connector within
        Versori, since a `state` parameter is generated and validated upon redirection to the
        redirect_uri.

        Additional query parameters can be added to the resultant URL via the `additionalParams`
        property in the body. In addition to the standard parameters defined in the body, this API
        adds the following parameters:

        - `redirect_uri`: The URI to redirect the user to after the OAuth 2.0 Provider has
          authenticated the user.
        - `state`: A secure string generated by the API to authenticate requests to the redirect URI.
        - `prompt`: See documentation on the `prompt` property of the request body.
        - `scope`: See documentation on the `scopes` property of the request body.
        - `response_type`: The response type to use. This is always `code` for OAuth 2.0.
        - `client_id`: The client ID provided by the request body, this must match the client ID
          which is stored under the provided `credentialId` otherwise the handling of the redirect
          request will fail.

        Full details on the standard parameters can be found in the OIDC Core specification:
        https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest
      tags:
        - connections
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InitialiseOAuth2ConnectionRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InitialiseOAuth2ConnectionResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/systems/{system_id}/oauth1/initialise:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - $ref: "#/components/parameters/system_id"
    post:
      operationId: InitialiseOAuth1Connection
      summary: Initialise OAuth 1.0 Connection
      description: |
        InitialiseOAuth1Connection returns a URL to redirect the user to an OAuth 1.0 Provider's Authorize endpoint.
      tags:
        - connections
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InitialiseOAuth1ConnectionRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InitialiseOAuth1ConnectionResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/issues:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
    get:
      operationId: ListIssues
      parameters:
        - $ref: "#/components/parameters/first"
        - $ref: "#/components/parameters/after"
        - $ref: "#/components/parameters/before"
        - name: search_date
          in: query
          description: |
            Which field drives ordering and cursor pagination (`before` / `after`).
            If not provided, defaults to createdAt.
            For createdAt and lastSeenAt, use RFC3339 timestamps in before/after.
            For seenCount, before/after are decimal integers as strings (occurrence counts).
          schema:
            type: string
            enum:
              - createdAt
              - lastSeenAt
              - seenCount
        - name: sort_direction
          in: query
          description: |
            Which direction to order issues in.
            If not provided, defaults to descending.
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: status
          in: query
          style: form
          explode: true
          description: |
            Filter issues by status. Repeat this parameter to match multiple statuses (e.g. open and acked).
            Valid values: 'open', 'closed', 'acked', 'resolved'.
            If not provided, only open issues are returned unless all_statuses is true.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/IssueStatusEnum'
        - name: all_statuses
          in: query
          description: |
            When true, return issues of any status (status query parameter still applies if set).
            When false or omitted, missing status defaults to open issues only.
          schema:
            type: boolean
        - name: project_id
          in: query
          description: |
            Filter issues by project ID. If not provided, issues from all projects are returned.
            This is useful for filtering issues related to a specific project.
          schema:
            type: string
        - name: environment_id
          in: query
          description: |
            Filter issues by environment ID. If not provided, issues from all projects are returned.
            This is useful for filtering issues related to a specific environment.
          schema:
            type: string
        - name: severity
          in: query
          description: |
            Filter issues by severity. Can be one of 'low', 'medium', 'high', or 'critical'.
            If not provided, issues of all severities are returned.
          schema:
            $ref: '#/components/schemas/IssueSeverityEnum'

      summary: List Issues
      description: |
        ListIssues returns a list of all the Issues for the given organisation.
        The issues can be filtered by status, assignee, and other parameters.
        Before and After query parameters refer to the createdAt timestamp of the issue.
      tags:
        - issues
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Issue"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: CreateIssue
      summary: Create a new issue.
      tags:
        - issues
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Issue"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIssue'

  /o/{organisation_id}/issues/{issue_id}:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - name: issue_id
        in: path
        required: true
        schema:
          type: string
          format: ulid
          x-go-type: ulid.ULID
          x-go-name: IssueID
          x-go-type-import:
    patch:
      operationId: UpdateIssue
      summary: Update an Issue
      description: |
        UpdateIssue updates the editable fields of an issue. Any fields not provided in the request body will not be changed.
      tags:
        - issues
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIssue'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Issue"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/notification_channels:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
    post:
      operationId: CreateNotificationChannel
      tags:
        - notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNotificationChannel'
      responses:
        '201':
          description: Notification channel created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannel'

    get:
      summary: List notification channels for an organisation
      operationId: ListNotificationChannels
      tags:
        - notifications
      responses:
        '200':
          description: A list of notification channels
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannelList'

  /o/{organisation_id}/notification_channels/{channel_id}:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - name: channel_id
        in: path
        required: true
        schema:
          type: string
          format: ulid
          x-go-type: ulid.ULID
          x-go-name: SchedulerID
          x-go-type-import:
            path: github.com/versori/cli/pkg/ulid
    delete:
      summary: Delete a notification channel
      operationId: DeleteNotificationChannel
      tags:
        - notifications
      responses:
        '204':
          description: Notification channel deleted successfully
    patch:
      summary: Edit a notification channel
      operationId: EditNotificationChannel
      tags:
        - notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditNotificationChannel'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannel'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /projects/{project_id}/notifications:
    parameters:
      - $ref: "#/components/parameters/project_id"
    post:
      summary: Create a new project notification
      operationId: CreateProjectNotification
      tags:
        - notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectNotification'
      responses:
        '201':
          description: Project notification created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectNotification'

    get:
      summary: List notifications for a project
      operationId: ListProjectNotifications
      parameters:
        - $ref: "#/components/parameters/env_id"
      tags:
        - notifications
      responses:
        '200':
          description: A list of project notifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectNotificationList'

  /projects/{project_id}/notifications/{notification_id}:
    parameters:
      - $ref: "#/components/parameters/project_id"
      - $ref: "#/components/parameters/env_id"
      - name: notification_id
        in: path
        required: true
        schema:
          type: string
          format: ulid
          x-go-type: ulid.ULID
          x-go-name: SchedulerID
          x-go-type-import:
            path: github.com/versori/cli/pkg/ulid
    delete:
      summary: Delete a project notification
      operationId: DeleteProjectNotification
      tags:
        - notifications
      responses:
        '204':
          description: Project notification deleted successfully

  /o/{organisation_id}/metricssummary:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
    get:
      operationId: GetOrganisationMetricsSummary
      summary: Get organisation metrics summary
      tags:
        - metrics
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganisationMetricsSummary"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/projects/metricssummary:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
    get:
      operationId: GetProjectMetricsSummary
      summary: Get metrics summary for all projects
      tags:
        - metrics
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectMetricsSummary"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /o/{organisation_id}/usage/{metric}:
    parameters:
      - $ref: "#/components/parameters/organisation_id"
      - name: metric
        in: path
        required: true
        description: |
          Metric name from the platform usage registry, e.g. `kv.ops.read`,
          `project.cpu.allocation`, `org.members`. The full list of supported
          metrics is validated server-side; unknown values return 400.
        schema:
          type: string
    get:
      operationId: GetOrganisationUsage
      summary: Query platform usage for a single metric.
      description: |
        Returns time-bucketed usage for a single metric in `[start, end)`.
        The range is capped at 30 days. For project-scoped metrics, omit
        `project_id` to receive one series per project; pass `project_id`
        to filter to a single project. Org-level metrics ignore `project_id`.
      tags:
        - usage
[...]
